html,body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
}

p {
	max-width: 500px;
	margin: 0px auto;
}

.flowchart {

	width: 100%;
	height: 100%;
	margin: 0px auto;
	text-align: center;
	background-color: #ccc;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

}

.work_area {
	min-height: 60%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	position: relative;
}

#history_bucket {
	position: absolute;
	top: -100px;
	min-height: 50px;
	max-height: 50px;
	height: 50px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	width: 100%;

}

.nodes {
	min-height: 75%;
	max-height: 75%;
	height: 75%;
}

.node {
	transform: scale(1);
	opacity: 1;
	transition: all .5s;
	position: relative;
	top: 0;
}

.node .history {
	display: none;
}

.hidden {
	display: none;
	opacity: 0;
}

#history_bucket .history {
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	transition: all 5s;
	transform: scale(1);
	opacity: 1;
}

.shrink {
	transform: scale(.1);
	opacity: 0;
}

.responses {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: stretch;
	width: 50%;
	margin: 10px auto;
}

.node_button {
	width: 45%;
	text-align: center;
	background-color: cornflowerblue;
	color: #fff;
	margin: 20px;
	min-height: 75px;
	padding: 10px;
	font-size: 1.3em;
}

.node.shrink {
	transform: translateY(-100px) scale(.1);
	top: -200px;
	border-radius: 50%;
}

#history_bucket .history img {
	width: 100%;
	height: 100%;
	border-radius: 50px;
}

